# Back-end Node.js dependencies
back-end/node_modules/

# Back-end Environment files
back-end/.env

# Back-end Certs
back-end/certs/

# Back-end Logs
back-end/logs/
*.log

################################## THE BRIDGE ##################################

# Front-end Node.js dependencies
front-end/node_modules/

# Front-end build output
front-end/build/